.pinned-courses-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f8f9fa;
}
.pinned-courses-main-container {
  width: 518px;
  height: 220px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.pinned-courses-ul {
  height: 606px;
  padding-left: 0px;
  list-style-type: circle;
  list-style-position: inside;
}
html {
  font-family: Inter;
  font-size: 16px;
}

body {
  font-weight: 400;
  font-style:normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-gray-black);
  background-color: var(--dl-color-gray-white);

}